.vscode/
.idea/

node_modules/
build/
dist/
bundle.js
.parcel-cache/

# Build output
xmllint.js
xmllint.wasm
xmllint-browser.mjs
xmllint-browser.wasm
xmllint-node.js
xmllint-node.wasm
index-browser.mjs
index-node.js
index-browser.d.ts
index-browser.mjs.flow
index-node.d.ts
index-node.js.flow

/browser-demo/html-data/xmllint

xmllint-wasm-*.tgz
