.vscode/
.idea/

node_modules/
build/
bundle.js

# Build output
xmllint.js
xmllint.wasm
xmllint-browser.js
xmllint-browser.wasm
xmllint-node.js
xmllint-node.wasm
index-browser.js
index-node.js

/browser/html-data/xmllint
